.nav {
    border-bottom: 1px solid black;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
}


.header {
    background-color: rgba(229, 231, 67, 0.699);
}


.body {
    padding: 0px;
    margin: 0px;
}


.main {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding: 16px;
}


.fit-picture {
    height: 200px;
}


.div {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin: 3px;
    align-items: center;

}
.div h3 img {
    text-align: center;
}

.a {
    font-style: none;
    font-family:;

}


.h3 {
    margin: 0px;
}


.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: rgba(126, 155, 236, 0.699);
    font-size: 16px;
}
